.ideas-card {
    display: inline-block;
    margin: 30px 10px 10px 10px;
    height: 150px;
    width: 150px;
}

.no-cards-text {
    margin-top: 30px;
}

.ideas-card:hover Button.idea-close-button {
    visibility: visible;
}

.idea-date {
    text-align: left;
    padding: 5px 0 0 5px;
    font-size: 10px;
}

Button.idea-close-button {
    position: relative;
    top: -16px;
    right: -56px;
    width: 36px;
    height: 36px;
    z-index: 5;
    visibility: hidden;
}

.idea-title {
    position: relative;
    top: -34px;
    font-weight: 700;
    border: none;
}

.idea-title:focus {
    outline: none;
    border: lightgray 1px solid;
}

.idea-text-body {
    height: 85px;
    top: -31px;
    position: relative;
    border: none;
}

.idea-text-body:focus {
    outline: none;
    border: lightgray 1px solid;
}

.char-limit {
    position: relative;
    color: red;
    top: -31px;
}